body {
  display: grid;
  justify-items: center;
  margin: 0px auto;
  background-color: var(--background-all);
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */

.header {
  display: grid;
  justify-items: center;
}
.header svg {
  padding: 3.75rem;
}
.lista-menu {
  display: flex;
  gap: 1.25rem;
  list-style: none;
  padding: 0px;
  padding-bottom: 3.75rem;
}
.lista-menu a {
  text-decoration: none;
  color: var(--text-color);
  padding: 1rem 2rem;
  background-color: var(--background-detail);
  border-radius: 4px;
  text-transform: uppercase;
  border: solid 2px rgba(255, 255, 255, 0);
}
.lista-menu a:hover {
  border: solid 2px var(--detalhes);
}

/* Main body */

.contain-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.box-intro {
  position: relative;
  display: grid;
  gap: 1.25rem;
  align-content: center;
  background-color: var(--background-detail);
  padding: 2.5rem;
  text-align: end;
  color: var(--text-color);
}
.box-intro p {
  font-size: 1.25rem;
  margin: 0;
  line-height: 1.65rem;
}
.box-intro h1 {
  margin: 0;
}
.box-intro button {
  background-color: var(--detalhes);
  border: none;
  color: white;
  font-size: 1rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  max-width: max-content;
  place-self: end;
  border-radius: 4px;
  cursor: pointer;
}
.box-intro button:hover {
  background-color: var(--detalhes2);
}
.box-intro::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 60px;
  background-color: var(--detalhes);
  left: 470px;
  top: 30px;
}

.box-img img {
  max-width: 100%;
  display: block;
}

.box-vantagem {
  display: grid;
  align-items: center;
}
.box-vantagem h1 {
  color: var(--text-deco);
  text-transform: uppercase;
  font-size: 3.8rem;
  text-align: end;
  padding: 2.5rem;
  background: var(--onda);
  margin: 0;
}

.box-vantagens {
  display: grid;
  align-items: center;
  background-color: var(--background-detail);
  padding: 2.5rem;
  color: var(--text-color);
}
.lista-vantagens {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
}
.item-vantagens {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
  padding: 1.25rem;
  border-left: solid 4px rgba(255, 255, 255, 0);
}
.item-vantagens:hover {
  border-left: solid 4px var(--detalhes);
}
.item-vantagens:nth-child(odd) {
  background-color: var(--background-all);
}

.item-vantagens p {
  grid-column: 2 / 3;
  margin: 0;
  font-size: 1.25rem;
}
.item-vantagens h3 {
  margin: 0;
}

.rodape {
  display: grid;
  justify-items: center;
  background-color: var(--background-detail);
  margin-top: 3.75rem;
  width: 100%;
  color: var(--text-color);
}
.rodape p {
  padding: 2.5rem;
  font-size: 1.25rem;
  margin: 0;
  max-width: max-content;
  text-transform: capitalize;
}

/* Responsivo */

@media (max-width: 1000px) {
  .contain-main {
    grid-template-columns: 1fr;
  }
  .box-intro {
    text-align: start;
    padding: 3.12rem;
  }
  .box-intro button {
    place-self: start;
  }
  .box-intro::after {
    display: none;
  }
  .rodape {
    margin-top: 2rem;
  }
  .box-vantagem h1 {
    text-align: center;
  }
}

@media (max-width: 620px) {
  .lista-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem 5px;
    justify-items: center;
  }
  .lista-menu a {
    padding: 0.75rem 1.5rem;
  }
  .header img {
    padding: 2.5rem;
  }
}
